$o-brand-odoo: #243742;
$o-brand-primary: #5D8DA8;

$mk-menu-color: #f8f9fa;
$mk-appbar-color: #dee2e6;
$mk-appbar-background: #000000;

$mk-brand-gradient-start: lighten($o-brand-odoo, 10%);
$mk-brand-gradient-end: lighten($o-brand-odoo, 20%);
